.go_friend_page_on {
    /* 친구 리스트 */
    padding-top: 2rem;
    padding-left: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FF4462;
}

.friendList_container {
    width: 820px;
    height: auto;
    border-radius: 20px;
    background: #F9F9F9;
    margin: 150px auto 210px;
    padding: 39px 50px;
}

.title_box {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 68, 98, 0.90);
    background: #FFF;
    padding: 15px 4.167%;
}

.friendList_title {
    color: rgba(255, 68, 98, 0.90);
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
}

.btn_contents {
    width: 58.334%;
    height: 40px;
    margin: 40px auto;
}

.requestList {
    width: 28.572%;
    height: 100%;
    float: left;
    margin-right: 7.144%;
}

.blockList {
    width: 28.572%;
    height: 100%;
    float: left;
    margin-right: 7.144%;
}

.friendSearch{
    width: 28.572%;
    height: 100%;
    float: left;
}

.submitButton {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(255, 68, 98, 0.90);
    color: #FFF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.submitButton:hover {
    border: 1px solid #FF4462;
    background: #FFF;
    color: rgba(255, 68, 98, 0.90);
}

.countBox {
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FE5671;
    text-align: center;
    border-radius: 120px;
    color: white;
    margin: -0.7814%;
}

.noFriendComment {
    color: #7D7D7D;
    text-align: center;
    font-family: Noto Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.05px;
}

.noFriend {
    margin-top: 21.528%;
    margin-bottom: 25%;
}

.goBack_box {
    width: 22.223%;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    margin-bottom: 1.389%;
    margin-top: 50px;
}

.goBack_content {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(255, 68, 98, 0.90);
    color: #FFF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.goBack_content:hover {
    border: 1px solid #FF4462;
    background: #FFF;
    color: rgba(255, 68, 98, 0.90);
}

.friendList {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.friendInfo {
    width: 100%;
    height: 82px;
    border-radius: 5px;
    border: 1px solid rgba(255, 68, 98, 0.90);
    background: #FFF;
    margin-bottom: 20px;
    padding: 16px 10px 16px 20px;
}

.img_block {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(255, 68, 98, 0.90);
}

.memberImage {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid rgba(255, 68, 98, 0.90);
    font-size: 14px;
}

.memberName {
    float: left;
    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 14px 30px 14px 9px;
}

.memberId {
    float: left;
    color: #818181;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 14px 0px;
}

.friendsInfo {
    float: right;
    width: 100px;
    height: 30px;
    margin: 10px 10px;
}


.friendList_listView {
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    border-radius: 5px;
    background: rgba(255, 68, 98, 0.90);
    border: 1px solid rgba(255, 68, 98, 0.90);
}

.friendList_listView:hover {
    color: rgba(255, 68, 98, 0.90);
    background: white;
}

.deleteFriend {
    float: right;
    width: 60px;
    height: 30px;
    margin: 10px 0px;
}
.friendList_delete {
    width: 100%;
    height: 100%;
    color: rgba(255, 68, 98, 0.90);
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    border-radius: 5px;
    border: 1px solid rgba(255, 68, 98, 0.90);
    background: #FFF;
}

.friendList_delete:hover {
    background: rgba(255, 68, 98, 0.90);
    color: white;
}