@media (max-width: 1280px) {
    .main_content {
        width: 75%;
    }
}

body {
    margin: 0;
}

.go_my_page {
    padding-top: 2rem;
    padding-left: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    color: rgba(255,68,98,0.9);
}

.main_content {
    width: 37.6045%;
    height: auto;
    border-radius: 20px;
    background: #F9F9F9;
    margin: 4.9481% auto;
    padding: 59px 0px 5.209% 0px;

    /*width: 75%;*/
    /*height: 100vh;*/
    /*background-color: #FFFFFF;*/
    /*margin: 0 auto;*/
    /*padding-top: 6rem;*/
}

.image {
    /* profile image */
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 2px solid rgba(255,68,98,0.9);
    justify-content: center;
    border-radius: 120px;
    margin: 0 auto;
}

.member_image {
    width: 117px;
    height: 116px;
    border-radius: 120px;
}

.input_label_box {
    vertical-align: middle;
}

.input_label {
    display: inherit;
}

#image_file {
    display: none;
}

.change_btn {
    box-sizing: border-box;
    width: 63px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 5px;
    margin: 2rem auto;
    cursor: pointer;
    text-align: center;
    color: rgba(255,68,98,0.9);
}

.box_container {
    width: 86.289%;
    margin: 0 auto;
}

.name_box_text {
    /* 이름 */
    width: 29px;
    height: 22px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: -0.05em;
    color: #9F9F9F;
}

.name_box {
    box-sizing: border-box;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 3px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-top: 0.3rem;
}

.email_box_text {
    width: 94px;
    height: 22px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: -0.05em;
    color: #9F9F9F;
    margin-top: 3rem;
}

.email_box {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 3px;
    background: #EEEEEE;
    color: #676767;
    margin: 0 auto;
    padding-left: 2rem;
    padding-top: 0.3rem;
}

.change_pw_btn {
    width: 210px;
    height: 40px;
    background: rgba(255,68,98,0.9);
    border-radius: 5px;
    margin-top: 1rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0.4rem;
    cursor: pointer;
    border: none;
}

.box_footer {
    width: 86.289%;
    margin: 0 auto;
    text-align: right;
}

.update_btn {
    box-sizing: border-box;
    width: 63px;
    height: 27px;
    background: rgba(255,68,98,0.9);
    border: none;
    border-radius: 5px;
    margin: 2rem auto;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
}

.cancel_btn {
    box-sizing: border-box;
    width: 63px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 5px;
    margin: 2rem 1rem auto;
    cursor: pointer;
    text-align: center;
    color: rgba(255,68,98,0.9);
}

.new_tab {
    width: 25px;
    height: 25px;
}

#modal_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#modal_wrap.modal_hidden {
    display: none;
}

#modal_body {
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 550px;
    padding: 85px;
    border-radius: 10px;
}

.prev_pw {
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 68, 98, 0.9);
    border-radius: 10px;
    margin: 0 auto 35px auto;
    padding-left: 2rem;
    padding-top: 0.3rem;
}

.update_pw {
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 10px;
    margin: 0 auto 35px auto;
    padding-left: 2rem;
    padding-top: 0.3rem;
}

.update_pw_confirm {
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-top: 0.3rem;
}

.modal_footer {
    width: 400px;
    margin: 0 auto;
    text-align: right;
}

.modal_ok_btn {
    box-sizing: border-box;
    width: 63px;
    height: 27px;
    background: rgba(255,68,98,0.9);
    border: none;
    border-radius: 5px;
    margin: 2rem auto;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
}

.modal_close_btn {
    box-sizing: border-box;
    width: 63px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid rgba(255,68,98,0.9);
    border-radius: 5px;
    margin: 2rem 1rem auto;
    cursor: pointer;
    text-align: center;
    color: rgba(255,68,98,0.9);
}



