body {
    background-color: #ffffff;
}

.back {
    z-index: -1;
    position: absolute;
    width: 75%;
    height: 100%;
    background: white;
}

.go_todo_list_on {
    /* 투두 리스트 */
    padding-top: 2rem;
    padding-left: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FF4462;
}


.main_container {
    width: 37.6045%;
    height: auto;
    border-radius: 20px;
    background: #F9F9F9;
    margin: 4.9481% auto;
    text-align: center;
    padding: 59px 0px 5.209% 0px;
}

.date_form{
    width: 33.657%;
    height: 100px;
    margin: 0px auto 21px;
}
input[type='date']{
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 0px;
    border-bottom: 1px solid #FF4462;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
    background: url(./image/calendar.png) no-repeat right 10px center / 25px auto #ffffff;
    margin: 0px auto 22px;
}
input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button{display:none;}
input[type='date']::-webkit-calendar-picker-indicator{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:transparent;
    color:transparent;
    cousor:pointer;
}
input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
}
input[type='date']:valid::before{
    display: none;
}
input[type='date']::before{
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
}

.date_submit{
    text-align:center;
    width: 45%;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FF4462;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    border:none;
}
.list_form{
    border: none;
    width: 86.289%;
    height: 54px;
    flex-shrink: 0;
    border-bottom: 1px solid #FF4462;
    background: #FFF;
    margin: 0px auto 25px;
    border-radius: 10px;
}

.list_input {
    border: none;
    text-align: center;
    width: 92.296%;
    height: 30px;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 6px 0px 6px 0px;
    padding-left: 30px;
}

.list_input_denied{
    border: none;
    text-align: center;
    width: 100%;
    height: 30px;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 6px 0px 6px 0px;
    padding-top: 10px;
}

.list_submit{
    text-align: right;
    background: url(./image/add-list.png) no-repeat right 0px center / 25px auto;
    border: none;
    width: 24px;
    height: 24px;
    margin: 15px 4px -7px 0px;
}
input:focus {outline:none;}

.userName {
    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    margin: 0px auto 56px;
}

.userImageBorder {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 3px solid #FF4462;
    margin: 0px auto -120px;
    z-index: 7;
    position: relative;
}

.userImage {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 2px solid #FF4462;
    margin: 0px auto 33px;
    z-index: 1;
    position: relative;
}

.underLine {
    width: 95.291%;
    height: 40px;
    border-bottom: 1px solid #000;
    margin: 0px auto;
    padding-bottom: 2px;
    text-align: center;
}

.date {
    border: none;
    text-align: center;
    height: 30px;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.title {
    color: #6A6A6A;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 18px 0px;
    width: 630px;
    height: 22px;
}

.complete {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #00BA00;
    background: #FFF;
    margin: 18px 0px 0px 0px;
    border-radius: 10px;
}

.todolist {
    margin: 0px auto;
    width: 86.289%;
}

.completeTitle {
    color: #6A6A6A;
    text-align: left;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
    width: 72.232%;
    float: left;
    margin-left: 8.026%;
    margin-top: 17px;
    text-decoration-line: line-through;
}

.deleteForm {
    float: right;
    width: 20px;
    margin-top: 17px;
    margin-right: 1.606%;
}

.completeForm {
    width: 20px;
    float: right;
    margin-top: 17px;
    margin-right: 1.606%;
}

.updateForm {
    float: right;
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.deleteButton{
    border: none;
    width: 20px;
    height: 20px;
    background: url(./image/delete.svg), rgb(255, 255, 255) 50% / cover no-repeat;
    display: block;
}

.completeButton{
    border: none;
    width: 20px;
    height: 20px;
    background: url(./image/check.svg), rgb(255, 255, 255) 50% / cover no-repeat;
    display: block;
}

.updateButton{
    border: none;
    width: 20px;
    height: 20px;
    background: url(./image/refresh.svg), rgb(255, 255, 255) 50% / cover no-repeat;
    float: right;
    margin-right: 1.606%;
    margin-top: 17px;
}


.incomplete {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #FF4462;
    background: #FFF;
    margin: 18px 0px 0px 0px;
    border-radius: 10px;
}

.incompleteTitle {
    color: #000;
    text-align: left;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
    width: 70%;
    float: left;
    margin-left: 8.026%;
    margin-top: 17px;
}

.infoImage {
    width: 120px;
    height: 120px;
    margin: 0px -2px;
    border-radius: 120px;
    background-color: white;
}

.emptyList {
    text-align: center;
    height: 30px;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.8px;
    margin: 66px 0px;
    color: #b4b4b4;
}

.updateButton, .modalClose {
    cursor: pointer;
}

.updateModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modalDiv {
    position: absolute;
    background-color: #f9f9f9;
    width: 35.9%;
    height: 17.7%;
    /* padding: 15px; */
}

.modalForm {
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.8px;
    width: 80%;
    height: 63%;
    margin: 5% auto;
}

.updateTitle {
    border: none;
    width: 100%;
    margin: 0% 0% 5% 0%;
    border-bottom: 1px solid #FF4462;
    background: #FFF;
    padding: 2% 0% 2.5% 0%;
    text-align: center;
    color: #6c757d;
    border-radius: 10px;
}

.updateSubmit {
    width: 18%;
    text-align: center;
    height: 27%;
    border-radius: 5px;
    background: #FF4462;
    border: none;
    color: white;
    margin-right: 8%;
}

.modalClose {
    width: 18%;
    text-align: center;
    height: 27%;
    border-radius: 5px;
    background: #ffffff;
    color: #ff4462;
    border: 1px solid #ff4462;
}

.hidden {
    display: none;
}

.updateButton {
    border: none;
    width: 20px;
    height: 20px;
    background: url(./image/refresh.svg), rgb(255, 255, 255) 50% / cover no-repeat;
    float: right;
    margin-right: 10px;
}