<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>DoToday</title>
    <link th:href="@{/css/home.css}" type="text/css"
          href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    //회원가입 실패시 에러 메시지 출력
    $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
        alert(errorMessage);
      }
    });
  </script>

</th:block>
<!--<div class="header">-->
<!--  <div class="main_logo"><a href="/">DoToday</a></div>-->
<!--</div>-->
<div class="container" id="container">
<!--  <div class="form-container sign-up-container">-->
<!--    <form action="/members/add" th:object="${member}" method="post">-->
<!--      <h1>회원가입</h1>-->
<!--      <span>사용하실 아이디와 비밀번호를 입력해주세요.</span>-->
<!--      <input type="text" name="name" placeholder="Name"/>-->
<!--      <input type="text" placeholder="Id"  />-->
<!--      <input type="password" placeholder="Password"/>-->
<!--      <button type="submit">Sign Up</button>-->
<!--    </form>-->
<!--  </div>-->
  <div class="form-container sign-in-container">
    <form method="post">
      <h1>로그인</h1>
      <a th:href="@{/members/loginform}"><button type="button">회원 로그인</button></a>
      <a href="https://accounts.google.com/o/oauth2/auth?client_id=180149997803-eq2ht84npp10lhv50hbp18temhuip25b.apps.googleusercontent.com&redirect_uri=http://localhost:8080/login/oauth2/code/callback/google&response_type=code&scope=email profile&access_type=offline"><img th:src="@{/css/image/btn_google_signin_light_normal_web.png}"></a>
      <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=bd418e40192dec1008813e6eab065492&redirect_uri=http://localhost:8080/kakao/login">
        <img th:src="@{/css/image/kakao_login_medium_narrow.png}"height="45" width="191"/></a>
    </form>

  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="letter-spacing">어서오세요!</h1>
        <p>로그인을 해주세요.</p>
        <button class="ghost" id="signIn">LogIn</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>환영합니다!</h1>
        <p>저희 서비스를 이용하고 싶으시면<br>회원가입을 해주세요.</p>
        <a th:href="@{/members/join_form}"><button class="ghost" id="sign_up">Sign Up</button></a>
      </div>
    </div>
  </div>
</div>
<script>
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');

  signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
  });

  signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
  });
</script>
</body>
</html>