<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo!Doit!</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/changeInfo.css}">
</head>
<body>
  <div class="header">
    <div class="main_logo"><a href="/home">Todo!Doit!</a></div>
    <div class="go_todo_list"><a href="/home">투두 리스트</a></div>
    <div class="go_my_page"><a href="/members/mypage">마이 페이지</a></div>
    <div class="go_friend_page"><a href="/friend/list">친구 목록</a></div>
    <div class="logout"><a href="/members/logout">로그아웃</a></div>
  </div>

  <div class="back_container">
    <p class="chage_pw_text">비밀번호 변경</p>
    <button class="change_pw_btn" id="popup_btn" type="button">
      변경하기<img class="new_tab" th:src="@{/css/image/new_tab.png}">
    </button>

    <p>생년월일 변경</p>

    <form action="/members/pwupdate" method="post" th:object="${changePw}">
      <!--modal-->
      <div id="modal_wrap" class="modal_hidden">
        <div id="modal_body">
          <div id="modal_pw_input">
            <p class="pw_modal_text">기존 비밀번호</p>
            <input type="password" class="prev_pw" th:field="*{memberPrevPw}">

            <p class="pw_modal_text">새 비밀번호</p>
            <input type="password" class="update_pw" th:field="*{memberNewPw}">

            <p class="pw_modal_text">새 비밀번호 확인</p>
            <input type="password" class="update_pw_confirm" th:field="*{memberConfNewPw}">
          </div>
          <div class="modal_footer">
            <button id="modal_close_btn" class="modal_close_btn" type="button">닫기</button>
            <button id="modal_pw_change_btn" class="modal_ok_btn">확인</button>
          </div>
        </div>
      </div>
    </form>
  </div>

<script>
  const modalOpenBtn = document.getElementById('popup_btn');
  const modal = document.getElementById('modal_wrap');
  const modalCloseBtn = document.getElementById('modal_close_btn');

  modalOpenBtn.addEventListener('click', () => {
    modal.classList.remove('modal_hidden');
  });

  modalCloseBtn.addEventListener('click', () => {
    modal.classList.add('modal_hidden');
  });
</script>
</body>
</html>