<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mypage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/mypage.css}" />
</head>
<body>
    <div class="header">
        <div class="main_logo"><a href="/home">Todo!Doit!</a></div>
        <div class="go_todo_list"><a href="/home">투두 리스트</a></div>
        <div class="go_my_page"><a href="/members/mypage">마이 페이지</a></div>
        <div class="go_friend_page"><a href="/friend/list">친구 목록</a></div>
        <div class="logout"><a href="/members/logout">로그아웃</a></div>
    </div>
    <div class="main_content" th:object="${memberDetail}">
        <div class="image"><img class="member_image" th:src="*{memberImage}"></div>
        <form action="/members/update" method="post" enctype="multipart/form-data">
            <div class="input_label_box">
                <label class="input_label" for="image_file">
                    <div class="change_btn">변경</div>
                    <input id="image_file" type="file" name="image_file" accept="image/*">
                </label>
<!--                <p th:if="${#fields.hasErrors('image_file')}">이미지가 없습니다.</p>-->
            </div>

            <div class="box_container">
                <p class="name_box_text">이름</p>
                <div class="name_box"><span th:text="*{memberName}"></span></div>

                <p class="email_box_text">아이디(이메일)</p>
                <div class="email_box" name="member_id", id="member_id"><span name="member_id" th:text="*{memberId}"></span></div>

                <button class="change_pw_btn" id="popup_btn" type="button">
                    비밀번호 변경<img class="new_tab" th:src="@{/css/image/new_tab.png}">
                </button>
            </div>

            <div class="box_footer">
                <button class="cancel_btn" type="button">
                    <a href="/list/todolist">취소</a>
                </button>
                <button class="update_btn">저장</button>
            </div>
        </form>
    </div>

    <form action="/members/pwupdate" method="post" th:object="${changePw}">
        <!--modal-->
        <div id="modal_wrap" class="modal_hidden">
            <div id="modal_body">
                <div id="modal_pw_input">
                    <p class="pw_modal_text">기존 비밀번호</p>
                    <input type="password" class="prev_pw" th:field="*{memberPrevPw}">

                    <p class="pw_modal_text">새 비밀번호</p>
                    <input type="password" class="update_pw" th:field="*{memberNewPw}">

                    <p class="pw_modal_text">새 비밀번호 확인</p>
                    <input type="password" class="update_pw_confirm" th:field="*{memberConfNewPw}">
                </div>
                <div class="modal_footer">
                    <button id="modal_close_btn" class="modal_close_btn" type="button">닫기</button>
                    <button id="modal_pw_change_btn" class="modal_ok_btn">확인</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        const modalOpenBtn = document.getElementById('popup_btn');
        const modal = document.getElementById('modal_wrap');
        const modalCloseBtn = document.getElementById('modal_close_btn');

        modalOpenBtn.addEventListener('click', () => {
            modal.classList.remove('modal_hidden');
        });

        modalCloseBtn.addEventListener('click', () => {
            modal.classList.add('modal_hidden');
        });

        const fileDOM = document.querySelector('#image_file');
        const preview = document.querySelector('.member_image');

        fileDOM.addEventListener('change', () => {
            const reader = new FileReader();
            reader.onload = ({ target }) => {
                preview.src = target.result;
            };
            reader.readAsDataURL(fileDOM.files[0]);
        });
    </script>
</body>
</html>