<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dotoday</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/todolist.css}" />
</head>
<body>
<div class="header">
    <div class="main_logo"><a href="/home">Todo!Doit!</a></div>
    <div class="go_todo_list_on"><a href="/home">투두 리스트</a></div>
    <div class="go_my_page"><a href="/members/mypage">마이 페이지</a></div>
    <div class="go_friend_page"><a href="/friend/list">친구 목록</a></div>
    <div class="logout"><a href="/members/logout">로그아웃</a></div>
</div>
<div class="main_container ">
    <div class="userInfo">
        <div class="userImage"><img th:src="${memberInfo.memberImage}" alt="유저 이미지" class="infoImage"></div>
        <div class="userName" th:text="${memberInfo.memberName}"></div>
    </div>
    <form class="date_form"id="date_form" th:action="@{'/list/view'}" th:object="${todoList}" method="post">
        <input type="hidden" th:value="${memberInfo.memberId}"  th:name="memberId">
        <input type="date" id="list_date" max="2030-12-31" min="2023-09-01" th:field="*{date}" th:name="pathDate"
               data-placeholder="날짜 선택" required aria-required="true" placeholder="날짜선택">
        <input class="date_submit" type="submit" value="찾아보기" form="date_form">
    </form><br/>
    <form class="list_form" id="list_form" th:action="@{'/list/write'}" th:object="${todoList}" method="post"  th:if="${msg} == null">
        <input type="hidden" th:value="${memberInfo.memberId}" th:name="memberId">
        <input class="list_input" type="text" th:field="*{listTitle}" placeholder="해야 할 일을 적어보세요!"
               onfocus="this.placeholder = ''" onblur="this.placeholder = '해야 할 일을 적어보세요!'">
        <input class="list_submit" type="submit" value="" form="list_form">
    </form>
    <div class="list_form" th:if="${msg} != null" >
        <input class="list_input_denied" type="text"th:placeholder="${msg}" readonly>
    </div>
    <div class="underLine">
        <p class="date" th:text="${date}"></p>
    </div>
    <div class="todolist" th:each="todoList : ${list}">
        <div class="complete" th:if="${todoList.complete} == 1">
            <div class="completeTitle" th:text="${todoList.listTitle}">리스트 내용</div>
            <form class="deleteForm" id="completeDelete" th:action="@{'/list/delete'}" method="post">
                <input type="hidden" th:name="listNum" th:value="${todoList.listNum}">
                <input class="deleteButton" type="submit" value="" form="completeDelete">
            </form>
            <button id="cUpdateOpen" class="cUpdateButton"></button>
            <div id="cUpdate" class="hidden">
                <div id="cUpdateForm">
                    <form id="update_form" class="up" th:action="@{'/list/update'}" th:object="${todoList}" method="post">
<!--                        <input type="hidden" th:name="date" th:value="${todoList.date}">-->
                        <input type="hidden" class="" th:name="listNum" th:value="${todoList.listNum}">
                        <input type="text" class="" th:field="*{listTitle}" th:value="${todoList.listNum}">
                        <input type="submit" class="" value="수정" form="update_form">
                        <button id="cUpdateClose" class="" >취소</button>
                    </form>
                </div>
            </div>
<!--            <form class="updateForm" id="completeUpdate" th:action="@{'/list/update'}" method="get">-->
<!--                <input type="hidden" th:name="listNum" th:value="${todoList.listNum}">-->
<!--                <input class="updateButton" type="submit" value="" form="completeUpdate">-->
<!--            </form>-->
        </div>
        <div class="incomplete" th:if="${todoList.complete} == 0">
            <div class="incompleteTitle" th:text="${todoList.listTitle}">리스트 내용</div>
            <form class="completeForm" id="inCompleteComplete" th:action="@{'/list/complete'}" method="post">
                <input type="hidden" th:name="listNum" th:value="${todoList.listNum}">
                <input class="completeButton" type="submit" value="" form="inCompleteComplete">
            </form>
            <form class="deleteForm" id="inCompleteDelete" th:action="@{'/list/delete'}" method="post">
                <input type="hidden" th:name="listNum" th:value="${todoList.listNum}">
                <input class="deleteButton" type="submit" value="" form="inCompleteDelete">
            </form>
            <form class="updateForm" id="inCompleteUpdate" th:action="@{'/list/update'}" method="get">
                <input type="hidden" th:name="listNum" th:value="${todoList.listNum}">
                <input class="updateButton" type="submit" value="" form="inCompleteUpdate">
            </form>
        </div>
    </div>
    <div th:if="${exist} == false and ${msg} == null"class="emptyList">
        해야할 일이 없습니다.<br/>
        할 일을 추가해 보세요!
    </div>
    <div th:if="${exist} == false and ${msg} != null" class="emptyList">
        계획한 일이 없습니다.<br/>
    </div>
</div>
<script>
    // document.getElementById('list_date').value = new Date().toISOString().substring(0, 10);;
    const cUpdateOpenButton = document.getElementById('cUpdateOpen');
    const cUpdateCloseButton = document.getElementById('cUpdateClose');
    const cUpdateForm = document.getElementById('cUpdate');

    cUpdateOpenButton.addEventListener('click', () => {
        cUpdateForm.classList.remove('hidden');
    });

    cUpdateCloseButton.addEventListener('click', () => {
        cUpdateForm.classList.add('hidden');
    });
</script>
</body>
</html>